.section {
    display: flex;
    margin: auto;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
}

.subsection {
    display: flex;
    justify-content: space-evenly;
    &-col{
        flex-grow: 1;
        flex-basis: 0;
    }
    span {
        display: block;
    }
}

.info {
    &-contact {
        &_phone{
            &::before {
                background-image: url("./../../assets/icons/Phone.svg");
            }
        }
    }
}
