
<app-hero></app-hero>

<div class="section" role="main">
    <h1>Hi! Bangkok</h1>
    <div class="subsection">

        <div class="subsection-col info-about_us">
            Hi Bangkok is Wimbledon’s great choice for authentic south-east Asian dining. Hi Bangkok adds that certain flavor to the mix. Very reasonable prices and a great variety of meals and spices make dining here a great choice. Try aromatic Satays for starters, then the famous Bangkok Platter for two – absolutely wonderful. 

Friendly and smiling service and a great example of perfect hospitality – Hi Bangkok makes for a great experience of Thailand far from the actual place. Come by during lunch and enjoy some of their smaller meals, or enjoy some time with your friends and colleagues after work. A great selection of fine Thai foods awaits, and a wonderful atmosphere to just sit back and relax makes taking a short holiday on Kingston Road all the more wonderful.
        </div>
        <div class="subsection-col info-opening">
            <h4>opening times</h4>
            <span>Sun - Thu: 6:00 - 11:00pm</span>
            <span>Fri - Sat: 6:00 - 11:30pm</span>
        </div>
        <div class="subsection-col info-contact">
            <span class="info-contact_phone">
                <i class="material-icons">phone</i> 02085425688
            </span>
            <span class="info-contact_mail">
                <i class="material-icons">email</i> hibkk@aol.com
            </span>
            <span class="info-contact_location">
                <i class="material-icons">room</i> 132 Kingston Road, SW19 1LY - London
            </span>
        </div>
    </div>
</div>

<app-banner></app-banner>

<div class="section">
    <h1>Menu</h1>
    <ul>
        <li><a>Starters</a></li>
        <li><a>Mains</a></li>
        <li><a>Chef's Recommendations</a></li>
        <li><a>Vegetarian</a></li>
        <li><a>Rice & Noodles</a></li>
    </ul>
</div>

<app-banner></app-banner>

<div class="section">
    <h1>Takeaways & Delivery</h1>
    <div class="subsection">
        <div class="subsection-col">
            For takeaways and deliveries

            Please call:

            <a [href]="'tel:' + 02085425688">02085425688</a>
        </div>
        <div class="subsection-col">
            https://www.just-eat.co.uk/restaurants-tumnanthai-sw11/menu
        </div>
    </div>
</div>

<app-banner></app-banner>

<div class="section">
    <h1>Reservations</h1>
    <div class="subsection">
        <div class="subsection-col">
            For takeaways and deliveries

            Please call:

            <a [href]="'tel:' + 02085425688">02085425688</a>
        </div>
        <div class="subsection-col">
            
        </div>
    </div>
</div>
<app-footer></app-footer>