@use './../../stylesheet.scss' as styles;

h1 {
    color: styles.$color-dark-red;
}
.section {
    display: flex;
    margin: auto;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
}

.subsection {
    display: flex;
    justify-content: space-evenly;
    &-col{
        flex-grow: 1;
        flex-basis: 0;
        padding: 4rem;
    }
    span {
        display: block;
    }
}

.info-contact{
    i {
        color: styles.$color-dark-red;
    }
}